<a href="https://colab.research.google.com/github/Yukyung0622/Colab/blob/master/01_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pandas
#파이썬에서 사용하는 데이터 분석 라이브러리

import pandas as pd

In [ ]:
#1.Series
#1차원 데이터 (정수, 실수, 문자열 등)

##Series 객체 생성
##1월부터 4월까지 평균 온도 데이터(-20, -10, 10, 20)

temp = pd.Series([-20, -10, 10, 20])
temp

0   -20
1   -10
2    10
3    20
dtype: int64

In [ ]:
temp[0] #1월 온도

-20

In [ ]:
temp[2] #3월 온도

10

In [ ]:
#Series 객체 생성 (Index 지정)
temp = pd.Series([-20, -10, 10, 20], index=['Jan', 'Feb', 'Mar', 'Apr'])
temp

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [ ]:
temp['Jan'] #index Jan에 해당하는 데이터 출력

-20

In [ ]:
temp['Apr'] #index Apr에 해당하는 데이터 출력

20